.list-section {
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  height: calc(100vh - 60px);
  scrollbar-color: black;
}
.list-section::-webkit-scrollbar {
  width: 0.8em;
}
.list-section::-webkit-scrollbar-track {
  background-color: transparent;
}
.list-section::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 20px;
}
.card-shadow {
  box-shadow: 2px 2px 8px 1px black;
  height: 100%;
}
.add-room-card {
  cursor: pointer;
}
.card-add {
  height: 100%;
}
.add-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 0px 0px 0.375rem 0.375rem;
}
.all-card-image {
  width: 100%;
  max-height: 500px;
  min-height: 250px;
  object-fit: cover;
}
